/* styles.css */
body {
font-family: Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
}
header{
    background-color: #584d4d;
    color: #000;
    padding: 20px;
    text-align: center;
}
main{
    padding: 20px;
    display: flex;
    justify-content: space-between;

}
#pes1 {
    flex-grow: 20px;
    margin-right: 15 px;
  

}
#pes2{
flex-grow: 20px;
margin-right: 15px;
}
.boton-enlace{
    display: inline-block;
border: 3px;
text-decoration: none;
padding: 20px;
color: #000;
 background: linear-gradient(
    45deg, gold 50%, transparent 50%
 );
 background-position: 100%;
 background-size: 250%;
transition: 0.5s background, background-color 0.3s ease ;
padding: 10px 20px;
border-radius: 5px;
box-shadow: 2px 2px 5px rgb(182, 157, 157);
font-weight: bold;
}
.boton-enlace:hover{
background-position: 0;

}
.boton-enlace:active{
    background-color: whitesmoke;
}
footer{
    background-color: rgb(157, 146, 60);
    color: rgb(1, 1, 10);
    padding: 20px;
    text-align: center;
}

